prune tests
prune node_modules
prune .pytest_cache
prune build
prune dist
prune node

recursive-include python/utopic/core *
recursive-include python/utopic/cmake *

global-exclude __pycache__
global-exclude *.py[cod]
